.input {
  margin: 10px 0;
  font-size: 0.8em;
  outline: 0;
  border-width: 0 0 2px;
  width: 100%;
  border-color: #cfcfcf;
}

.input:focus {
  border-color: #61dafb;
  outline: none;
}

.label {
  font-size: 0.8em;
  color: #343434;
}

.error-message {
  font-size: 0.5em;
  color: #ff0000;
}

.datepicker {
  width: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}