.App {
  text-align: center;
}

.app-body {
  background-color: #282c34;
  max-height: 100vh;
    height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}